* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(172, 221, 255);
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#show-borders {
  border: none;
  background-color: aqua;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
  cursor: pointer;
}
#show-borders:hover {
  scale: 105%;
}
