.star {
  background-image: url(files/icon-star.svg);
}
.social__proof {
  margin: 2rem 5rem;
}
.social__description {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(187, 236, 236);
}
.social__description__text {
  max-width: 50%;
  background-color: rgb(190, 190, 255);
}
.social__description__rating {
  background-color: rgb(139, 172, 172);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  min-width: 50%;
}
.social__rating__stars {
}
.social__rating__stars__single_1 {
  display: flex;
  background-color: rgb(197, 161, 161);
  padding: 0.5rem 1rem;
}
.social__rating__stars__single_2 {
  display: flex;
  background-color: rgb(197, 161, 161);
  padding: 0.5rem 1rem;
}
.social__rating__stars__single_3 {
  display: flex;
  background-color: rgb(197, 161, 161);
  padding: 0.5rem 1rem;
}
